*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: linear-gradient(330deg,#16c9f6 55%, #fff 0%);
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.container {
    max-width: 960px;
  }
.navbar{
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
    width: 100vw;
}
  
  .lh-condensed { line-height: 1.25; }